services:
  cln-mainnet-node:
    image: ghcr.io/archetech/cl-hive-node:${ARCHON_CLN_VERSION:-latest}
    environment:
      - NETWORK=bitcoin
      - ALIAS=${ARCHON_CLN_ALIAS:-archon}
      - RGB=${ARCHON_CLN_RGB:-e33502}
      - BITCOIN_RPCHOST=${ARCHON_BTC_HOST}
      - BITCOIN_RPCPORT=${ARCHON_BTC_PORT:-8332}
      - BITCOIN_RPCUSER=${ARCHON_BTC_USER}
      - BITCOIN_RPCPASSWORD=${ARCHON_BTC_PASS}
      - LIGHTNING_PORT=${ARCHON_CLN_PORT:-9736}
      - NETWORK_MODE=${ARCHON_CLN_NETWORK_MODE:-tor}
      - ANNOUNCE_ADDR=${ARCHON_CLN_ANNOUNCE_ADDR:-}
      - HIVE_GOVERNANCE_MODE=${ARCHON_CLN_GOVERNANCE_MODE:-advisor}
      - HIVE_COMMS_ENABLED=true
      - HIVE_ARCHON_ENABLED=true
      - HIVE_ARCHON_VERSION=${ARCHON_CLN_ARCHON_VERSION:-v0.1.0}
      - LOG_LEVEL=${ARCHON_CLN_LOG_LEVEL:-info}
    volumes:
      - ./data/cln-mainnet:/data/lightning
    ports:
      - "${ARCHON_CLN_PORT:-9736}:${ARCHON_CLN_PORT:-9736}"
      - "127.0.0.1:3001:3001"

