services:
  mongodb:
    image: mongo:8.0
    volumes:
      - ./data/mongodb:/data/db
    ports:
      - 127.0.0.1:27017:27017

  redis:
    image: redis:8.0.4-alpine
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - ./data/redis.conf:/usr/local/etc/redis/redis.conf
      - ./data/redis:/data
    ports:
      - 127.0.0.1:6379:6379

  ipfs:
    image: ipfs/kubo:v0.35.0
    ports:
      - 4001:4001
      - 4001:4001/udp
      - 127.0.0.1:5001:5001
    volumes:
      - ./data/ipfs:/data/ipfs
      - ./share:/export/share

  gatekeeper:
    build:
      context: .
      dockerfile: Dockerfile.gatekeeper
    image: ghcr.io/archetech/gatekeeper
    environment:
      - ARCHON_GATEKEEPER_PORT=4224
      - ARCHON_GATEKEEPER_DB=${ARCHON_GATEKEEPER_DB}
      - ARCHON_GATEKEEPER_DID_PREFIX=${ARCHON_GATEKEEPER_DID_PREFIX}
      - ARCHON_GATEKEEPER_REGISTRIES=${ARCHON_GATEKEEPER_REGISTRIES}
      - ARCHON_GATEKEEPER_GC_INTERVAL=${ARCHON_GATEKEEPER_GC_INTERVAL}
      - ARCHON_GATEKEEPER_STATUS_INTERVAL=${ARCHON_GATEKEEPER_STATUS_INTERVAL}
      - ARCHON_GATEKEEPER_SERVE_CLIENT=${ARCHON_GATEKEEPER_SERVE_CLIENT}
      - ARCHON_MONGODB_URL=mongodb://mongodb:27017
      - ARCHON_REDIS_URL=redis://redis:6379
      - ARCHON_IPFS_URL=http://ipfs:5001/api/v0
    volumes:
      - ./data:/app/gatekeeper/data
    user: "${ARCHON_UID}:${ARCHON_GID}"
    ports:
      - ${ARCHON_GATEKEEPER_PORT}:4224
    depends_on:
      - mongodb
      - redis
      - ipfs

  keymaster:
    build:
      context: .
      dockerfile: Dockerfile.keymaster
    image: ghcr.io/archetech/keymaster
    environment:
      - ARCHON_KEYMASTER_PORT=4226
      - ARCHON_GATEKEEPER_URL=http://gatekeeper:4224
      - ARCHON_DISABLE_SEARCH=${ARCHON_DISABLE_SEARCH:-false}
      - ARCHON_SEARCH_URL=http://search-server:4002
      - ARCHON_NODE_ID=${ARCHON_NODE_ID}
      - ARCHON_KEYMASTER_DB=${ARCHON_KEYMASTER_DB}
      - ARCHON_ENCRYPTED_PASSPHRASE=${ARCHON_ENCRYPTED_PASSPHRASE}
      - ARCHON_WALLET_CACHE=${ARCHON_WALLET_CACHE}
      - ARCHON_DEFAULT_REGISTRY=${ARCHON_DEFAULT_REGISTRY}
      - ARCHON_KEYMASTER_SERVE_CLIENT=${ARCHON_KEYMASTER_SERVE_CLIENT}
      - ARCHON_MONGODB_URL=mongodb://mongodb:27017
      - ARCHON_REDIS_URL=redis://redis:6379
    volumes:
      - ./data:/app/keymaster/data
    user: "${ARCHON_UID}:${ARCHON_GID}"
    ports:
      - ${ARCHON_KEYMASTER_PORT}:4226
    depends_on:
      - gatekeeper
      - redis
      - mongodb
      - search-server

  hypr-mediator:
    build:
      context: .
      dockerfile: Dockerfile.hyperswarm
    image: ghcr.io/archetech/hyperswarm-mediator
    environment:
      - ARCHON_GATEKEEPER_URL=http://gatekeeper:4224
      - ARCHON_KEYMASTER_URL=http://keymaster:4226
      - ARCHON_IPFS_URL=http://ipfs:5001/api/v0
      - ARCHON_NODE_ID=${ARCHON_NODE_ID}
      - ARCHON_NODE_NAME=${ARCHON_NODE_NAME}
      - ARCHON_PROTOCOL=${ARCHON_PROTOCOL}
      - ARCHON_HYPR_EXPORT_INTERVAL=${ARCHON_HYPR_EXPORT_INTERVAL}
    user: "${ARCHON_UID}:${ARCHON_GID}"
    depends_on:
      - gatekeeper
      - keymaster
      - ipfs

  tftc-node:
    image: keychainmdip/feathercoin:v0.19.2
    volumes:
      - ./data/tftc:/root/.feathercoin

  tftc-mediator:
    build:
      context: .
      dockerfile: Dockerfile.satoshi
    image: ghcr.io/archetech/satoshi-mediator
    environment:
      - ARCHON_GATEKEEPER_URL=http://gatekeeper:4224
      - ARCHON_KEYMASTER_URL=http://keymaster:4226
      - ARCHON_MONGODB_URL=mongodb://mongodb:27017
      - ARCHON_REDIS_URL=redis://redis:6379
      - ARCHON_NODE_ID=${ARCHON_NODE_ID}
      - ARCHON_SAT_CHAIN=TFTC
      - ARCHON_SAT_NETWORK=testnet
      - ARCHON_SAT_START_BLOCK=0
      - ARCHON_SAT_HOST=tftc-node
      - ARCHON_SAT_PORT=19337
      - ARCHON_SAT_USER=${ARCHON_TFTC_USER}
      - ARCHON_SAT_PASS=${ARCHON_TFTC_PASS}
      - ARCHON_SAT_WALLET=${ARCHON_TFTC_WALLET}
      - ARCHON_SAT_IMPORT_INTERVAL=${ARCHON_TFTC_IMPORT_INTERVAL}
      - ARCHON_SAT_EXPORT_INTERVAL=${ARCHON_TFTC_EXPORT_INTERVAL}
      - ARCHON_SAT_FEE_BLOCK_TARGET=${ARCHON_TFTC_FEE_BLOCK_TARGET}
      - ARCHON_SAT_FEE_FALLBACK_SAT_BYTE=${ARCHON_TFTC_FEE_FALLBACK_SAT_BYTE}
      - ARCHON_SAT_FEE_MAX=${ARCHON_TFTC_FEE_MAX}
      - ARCHON_SAT_RBF_ENABLED=${ARCHON_TFTC_RBF_ENABLED}
      - ARCHON_SAT_REIMPORT=${ARCHON_TFTC_REIMPORT}
      - ARCHON_SAT_DB=${ARCHON_TFTC_DB}
    volumes:
      - ./data:/app/satoshi/data
    user: "${ARCHON_UID}:${ARCHON_GID}"
    depends_on:
      - tftc-node
      - gatekeeper
      - keymaster

  btc-node:
    image: keychainmdip/bitcoin-core:v28.0-multiarch
    volumes:
      - ./data/btc:/root/.bitcoin
    ports:
      - 8332:8332

  btc-mediator:
    build:
      context: .
      dockerfile: Dockerfile.satoshi-inscription
    image: ghcr.io/archetech/inscription-mediator
    environment:
      - ARCHON_GATEKEEPER_URL=http://gatekeeper:4224
      - ARCHON_KEYMASTER_URL=http://keymaster:4226
      - ARCHON_MONGODB_URL=mongodb://mongodb:27017
      - ARCHON_REDIS_URL=redis://redis:6379
      - ARCHON_NODE_ID=${ARCHON_NODE_ID}
      - ARCHON_SAT_CHAIN=BTC
      - ARCHON_SAT_NETWORK=bitcoin
      - ARCHON_SAT_HOST=btc-node
      - ARCHON_SAT_PORT=8332
      - ARCHON_SAT_START_BLOCK=${ARCHON_BTC_START_BLOCK}
      - ARCHON_SAT_USER=${ARCHON_BTC_USER}
      - ARCHON_SAT_PASS=${ARCHON_BTC_PASS}
      - ARCHON_SAT_WALLET=${ARCHON_BTC_WALLET}
      - ARCHON_SAT_IMPORT_INTERVAL=${ARCHON_BTC_IMPORT_INTERVAL}
      - ARCHON_SAT_EXPORT_INTERVAL=${ARCHON_BTC_EXPORT_INTERVAL}
      - ARCHON_SAT_FEE_BLOCK_TARGET=${ARCHON_BTC_FEE_BLOCK_TARGET}
      - ARCHON_SAT_FEE_FALLBACK_SAT_BYTE=${ARCHON_BTC_FEE_FALLBACK_SAT_BYTE}
      - ARCHON_SAT_FEE_MAX=${ARCHON_BTC_FEE_MAX}
      - ARCHON_SAT_RBF_ENABLED=${ARCHON_BTC_RBF_ENABLED}
      - ARCHON_SAT_REIMPORT=${ARCHON_BTC_REIMPORT}
      - ARCHON_SAT_DB=${ARCHON_BTC_DB}
    volumes:
      - ./data:/app/satoshi/data
    user: "${ARCHON_UID}:${ARCHON_GID}"
    depends_on:
      - btc-node
      - gatekeeper
      - keymaster

  tbtc-node:
    image: keychainmdip/bitcoin-core:v28.0-multiarch
    volumes:
      - ./data/tbtc:/root/.bitcoin

  tbtc-mediator:
    build:
      context: .
      dockerfile: Dockerfile.satoshi
    image: ghcr.io/archetech/satoshi-mediator
    environment:
      - ARCHON_GATEKEEPER_URL=http://gatekeeper:4224
      - ARCHON_KEYMASTER_URL=http://keymaster:4226
      - ARCHON_MONGODB_URL=mongodb://mongodb:27017
      - ARCHON_REDIS_URL=redis://redis:6379
      - ARCHON_NODE_ID=${ARCHON_NODE_ID}
      - ARCHON_SAT_CHAIN=TBTC
      - ARCHON_SAT_NETWORK=testnet
      - ARCHON_SAT_HOST=tbtc-node
      - ARCHON_SAT_PORT=48332
      - ARCHON_SAT_START_BLOCK=${ARCHON_TBTC_START_BLOCK}
      - ARCHON_SAT_USER=${ARCHON_TBTC_USER}
      - ARCHON_SAT_PASS=${ARCHON_TBTC_PASS}
      - ARCHON_SAT_WALLET=${ARCHON_TBTC_WALLET}
      - ARCHON_SAT_IMPORT_INTERVAL=${ARCHON_TBTC_IMPORT_INTERVAL}
      - ARCHON_SAT_EXPORT_INTERVAL=${ARCHON_TBTC_EXPORT_INTERVAL}
      - ARCHON_SAT_FEE_BLOCK_TARGET=${ARCHON_TBTC_FEE_BLOCK_TARGET}
      - ARCHON_SAT_FEE_FALLBACK_SAT_BYTE=${ARCHON_TBTC_FEE_FALLBACK_SAT_BYTE}
      - ARCHON_SAT_FEE_MAX=${ARCHON_TBTC_FEE_MAX}
      - ARCHON_SAT_RBF_ENABLED=${ARCHON_TBTC_RBF_ENABLED}
      - ARCHON_SAT_REIMPORT=${ARCHON_TBTC_REIMPORT}
      - ARCHON_SAT_DB=${ARCHON_TBTC_DB}
    volumes:
      - ./data:/app/satoshi/data
    user: "${ARCHON_UID}:${ARCHON_GID}"
    depends_on:
      - tbtc-node
      - gatekeeper
      - keymaster

  signet-node:
    image: keychainmdip/bitcoin-core:v28.0-multiarch
    volumes:
      - ./data/signet:/root/.bitcoin
    ports:
      - 38332:38332

  signet-mediator:
    build:
      context: .
      dockerfile: Dockerfile.satoshi
    image: ghcr.io/archetech/satoshi-mediator
    environment:
      - ARCHON_GATEKEEPER_URL=http://gatekeeper:4224
      - ARCHON_KEYMASTER_URL=http://keymaster:4226
      - ARCHON_MONGODB_URL=mongodb://mongodb:27017
      - ARCHON_REDIS_URL=redis://redis:6379
      - ARCHON_NODE_ID=${ARCHON_NODE_ID}
      - ARCHON_SAT_CHAIN=Signet
      - ARCHON_SAT_NETWORK=testnet
      - ARCHON_SAT_HOST=signet-node
      - ARCHON_SAT_PORT=38332
      - ARCHON_SAT_START_BLOCK=${ARCHON_SIGNET_START_BLOCK}
      - ARCHON_SAT_USER=${ARCHON_SIGNET_USER}
      - ARCHON_SAT_PASS=${ARCHON_SIGNET_PASS}
      - ARCHON_SAT_WALLET=${ARCHON_SIGNET_WALLET}
      - ARCHON_SAT_IMPORT_INTERVAL=${ARCHON_SIGNET_IMPORT_INTERVAL}
      - ARCHON_SAT_EXPORT_INTERVAL=${ARCHON_SIGNET_EXPORT_INTERVAL}
      - ARCHON_SAT_FEE_BLOCK_TARGET=${ARCHON_SIGNET_FEE_BLOCK_TARGET}
      - ARCHON_SAT_FEE_FALLBACK_SAT_BYTE=${ARCHON_SIGNET_FEE_FALLBACK_SAT_BYTE}
      - ARCHON_SAT_FEE_MAX=${ARCHON_SIGNET_FEE_MAX}
      - ARCHON_SAT_RBF_ENABLED=${ARCHON_SIGNET_RBF_ENABLED}
      - ARCHON_SAT_REIMPORT=${ARCHON_SIGNET_REIMPORT}
      - ARCHON_SAT_DB=${ARCHON_SIGNET_DB}
    volumes:
      - ./data:/app/satoshi/data
    user: "${ARCHON_UID}:${ARCHON_GID}"
    depends_on:
      - signet-node
      - gatekeeper
      - keymaster

  cli:
    build:
      context: .
      dockerfile: Dockerfile.cli
    image: ghcr.io/archetech/cli
    environment:
      - ARCHON_GATEKEEPER_URL=http://gatekeeper:4224
      - ARCHON_KEYMASTER_URL=http://keymaster:4226
      - ARCHON_IPFS_URL=http://ipfs:5001/api/v0
    volumes:
      - ./share:/app/share
    user: "${ARCHON_UID}:${ARCHON_GID}"
    depends_on:
      - gatekeeper
      - keymaster
      - ipfs

  explorer:
    build:
      context: .
      dockerfile: Dockerfile.explorer
    image: ghcr.io/archetech/explorer
    environment:
      - VITE_EXPLORER_PORT=4000
      - VITE_GATEKEEPER_URL=http://localhost:4224
      - VITE_SEARCH_SERVER=http://localhost:4002
      - VITE_OPERATION_NETWORKS=hyperswarm,local,TFTC,TBTC
    ports:
      - "4000:4000"
    depends_on:
      - gatekeeper

  search-server:
    build:
      context: .
      dockerfile: Dockerfile.search-server
    image: ghcr.io/archetech/search-server
    environment:
      - SEARCH_SERVER_PORT=4002
      - SEARCH_SERVER_GATEKEEPER_URL=http://gatekeeper:4224
      - SEARCH_SERVER_REFRESH_INTERVAL_MS=5000
      - SEARCH_SERVER_DB=sqlite
    volumes:
      - ./data:/app/search-server/data
    user: "${ARCHON_UID}:${ARCHON_GID}"
    ports:
      - "4002:4002"
    depends_on:
      - gatekeeper

  react-wallet:
    build:
      context: .
      dockerfile: Dockerfile.react-wallet
    image: ghcr.io/archetech/react-wallet
    environment:
      - VITE_PORT=${ARCHON_REACT_WALLET_PORT:-4228}
      - VITE_GATEKEEPER_URL=http://gatekeeper:4224
      - VITE_KEYMASTER_URL=http://keymaster:4226
      - VITE_SEARCH_SERVER=http://search-server:4002
    user: "${ARCHON_UID}:${ARCHON_GID}"
    ports:
      - "${ARCHON_REACT_WALLET_PORT:-4228}:${ARCHON_REACT_WALLET_PORT:-4228}"
    depends_on:
      - gatekeeper
      - search-server
