services:
  ftc-testnet5-node:
    image: ghcr.io/archetech/feathercoin:v0.19.2
    volumes:
      - ./data/ftc-testnet5:/root/.feathercoin

  ftc-testnet5-mediator:
    build:
      context: .
      dockerfile: Dockerfile.satoshi
    image: ghcr.io/archetech/satoshi-mediator
    environment:
      - ARCHON_GATEKEEPER_URL=http://gatekeeper:4224
      - ARCHON_KEYMASTER_URL=http://keymaster:4226
      - ARCHON_MONGODB_URL=mongodb://mongodb:27017
      - ARCHON_REDIS_URL=redis://redis:6379
      - ARCHON_NODE_ID=${ARCHON_NODE_ID}
      - ARCHON_SAT_CHAIN=FTC:testnet5
      - ARCHON_SAT_NETWORK=testnet
      - ARCHON_SAT_START_BLOCK=${ARCHON_FTC_T5_START_BLOCK}
      - ARCHON_SAT_HOST=ftc-testnet5-node
      - ARCHON_SAT_PORT=19337
      - ARCHON_SAT_USER=${ARCHON_FTC_T5_USER}
      - ARCHON_SAT_PASS=${ARCHON_FTC_T5_PASS}
      - ARCHON_SAT_WALLET=${ARCHON_FTC_T5_WALLET}
      - ARCHON_SAT_IMPORT_INTERVAL=${ARCHON_FTC_T5_IMPORT_INTERVAL}
      - ARCHON_SAT_EXPORT_INTERVAL=${ARCHON_FTC_T5_EXPORT_INTERVAL}
      - ARCHON_SAT_FEE_BLOCK_TARGET=${ARCHON_FTC_T5_FEE_BLOCK_TARGET}
      - ARCHON_SAT_FEE_FALLBACK_SAT_BYTE=${ARCHON_FTC_T5_FEE_FALLBACK_SAT_BYTE}
      - ARCHON_SAT_FEE_MAX=${ARCHON_FTC_T5_FEE_MAX}
      - ARCHON_SAT_RBF_ENABLED=${ARCHON_FTC_T5_RBF_ENABLED}
      - ARCHON_SAT_REIMPORT=${ARCHON_FTC_T5_REIMPORT}
      - ARCHON_SAT_DB=${ARCHON_FTC_T5_DB}
    volumes:
      - ./data:/app/satoshi/data
    user: "${ARCHON_UID}:${ARCHON_GID}"
    depends_on:
      - ftc-testnet5-node
      - gatekeeper
      - keymaster
