include:
  - docker-compose.btc-signet.yml
#  - docker-compose.btc-testnet4.yml
  - docker-compose.ftc-testnet5.yml

services:
  mongodb:
    image: mongo:8.0
    volumes:
      - ./data/mongodb:/data/db
    ports:
      - 127.0.0.1:27017:27017

  redis:
    image: redis:8.0.4-alpine
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - ./data/redis.conf:/usr/local/etc/redis/redis.conf
      - ./data/redis:/data
    ports:
      - 127.0.0.1:6379:6379

  ipfs:
    image: ipfs/kubo:v0.39.0
    ports:
      - 4001:4001
      - 4001:4001/udp
      - 127.0.0.1:5001:5001
    volumes:
      - ./data/ipfs:/data/ipfs
      - ./share:/export/share

  gatekeeper:
    build:
      context: .
      dockerfile: Dockerfile.gatekeeper
    image: ghcr.io/archetech/gatekeeper
    environment:
      - ARCHON_GATEKEEPER_PORT=4224
      - ARCHON_GATEKEEPER_DB=${ARCHON_GATEKEEPER_DB}
      - ARCHON_GATEKEEPER_DID_PREFIX=${ARCHON_GATEKEEPER_DID_PREFIX}
      - ARCHON_GATEKEEPER_REGISTRIES=${ARCHON_GATEKEEPER_REGISTRIES}
      - ARCHON_GATEKEEPER_GC_INTERVAL=${ARCHON_GATEKEEPER_GC_INTERVAL}
      - ARCHON_GATEKEEPER_STATUS_INTERVAL=${ARCHON_GATEKEEPER_STATUS_INTERVAL}
      - ARCHON_GATEKEEPER_SERVE_CLIENT=${ARCHON_GATEKEEPER_SERVE_CLIENT}
      - ARCHON_MONGODB_URL=mongodb://mongodb:27017
      - ARCHON_REDIS_URL=redis://redis:6379
      - ARCHON_IPFS_URL=http://ipfs:5001/api/v0
    volumes:
      - ./data:/app/gatekeeper/data
    user: "${ARCHON_UID}:${ARCHON_GID}"
    ports:
      - ${ARCHON_GATEKEEPER_PORT}:4224
    depends_on:
      - mongodb
      - redis
      - ipfs

  keymaster:
    build:
      context: .
      dockerfile: Dockerfile.keymaster
    image: ghcr.io/archetech/keymaster
    environment:
      - ARCHON_KEYMASTER_PORT=4226
      - ARCHON_GATEKEEPER_URL=http://gatekeeper:4224
      - ARCHON_DISABLE_SEARCH=${ARCHON_DISABLE_SEARCH:-false}
      - ARCHON_SEARCH_URL=http://gatekeeper:4224
      - ARCHON_NODE_ID=${ARCHON_NODE_ID}
      - ARCHON_KEYMASTER_DB=${ARCHON_KEYMASTER_DB}
      - ARCHON_ENCRYPTED_PASSPHRASE=${ARCHON_ENCRYPTED_PASSPHRASE}
      - ARCHON_WALLET_CACHE=${ARCHON_WALLET_CACHE}
      - ARCHON_DEFAULT_REGISTRY=${ARCHON_DEFAULT_REGISTRY}
      - ARCHON_KEYMASTER_SERVE_CLIENT=${ARCHON_KEYMASTER_SERVE_CLIENT}
      - ARCHON_MONGODB_URL=mongodb://mongodb:27017
      - ARCHON_REDIS_URL=redis://redis:6379
    volumes:
      - ./data:/app/keymaster/data
    user: "${ARCHON_UID}:${ARCHON_GID}"
    ports:
      - ${ARCHON_KEYMASTER_PORT}:4226
    depends_on:
      - gatekeeper
      - redis
      - mongodb

  hyperswarm-mediator:
    build:
      context: .
      dockerfile: Dockerfile.hyperswarm
    image: ghcr.io/archetech/hyperswarm-mediator
    environment:
      - ARCHON_GATEKEEPER_URL=http://gatekeeper:4224
      - ARCHON_KEYMASTER_URL=http://keymaster:4226
      - ARCHON_IPFS_URL=http://ipfs:5001/api/v0
      - ARCHON_NODE_ID=${ARCHON_NODE_ID}
      - ARCHON_NODE_NAME=${ARCHON_NODE_NAME}
      - ARCHON_PROTOCOL=${ARCHON_PROTOCOL}
      - ARCHON_HYPR_EXPORT_INTERVAL=${ARCHON_HYPR_EXPORT_INTERVAL}
    user: "${ARCHON_UID}:${ARCHON_GID}"
    depends_on:
      - gatekeeper
      - keymaster
      - ipfs

  cli:
    build:
      context: .
      dockerfile: Dockerfile.cli
    image: ghcr.io/archetech/cli
    environment:
      - ARCHON_GATEKEEPER_URL=http://gatekeeper:4224
      - ARCHON_KEYMASTER_URL=http://keymaster:4226
      - ARCHON_IPFS_URL=http://ipfs:5001/api/v0
    volumes:
      - ./share:/app/share
    user: "${ARCHON_UID}:${ARCHON_GID}"
    depends_on:
      - gatekeeper
      - keymaster
      - ipfs

  explorer:
    build:
      context: .
      dockerfile: Dockerfile.explorer
    image: ghcr.io/archetech/explorer
    environment:
      - VITE_EXPLORER_PORT=4000
      - VITE_GATEKEEPER_URL=http://localhost:4224
      - VITE_SEARCH_SERVER=http://localhost:4224
      - VITE_OPERATION_NETWORKS=hyperswarm,local,ftc-testnet5,btc-testnet4
    ports:
      - "4000:4000"
    depends_on:
      - gatekeeper

  react-wallet:
    build:
      context: .
      dockerfile: Dockerfile.react-wallet
    image: ghcr.io/archetech/react-wallet
    environment:
      - VITE_PORT=${ARCHON_REACT_WALLET_PORT:-4228}
      - VITE_GATEKEEPER_URL=http://gatekeeper:4224
      - VITE_KEYMASTER_URL=http://keymaster:4226
      - VITE_SEARCH_SERVER=http://gatekeeper:4224
    user: "${ARCHON_UID}:${ARCHON_GID}"
    ports:
      - "${ARCHON_REACT_WALLET_PORT:-4228}:${ARCHON_REACT_WALLET_PORT:-4228}"
    depends_on:
      - gatekeeper
