services:
  btc-testnet4-node:
    image: ghcr.io/archetech/bitcoin-core:v28.0-multiarch
    volumes:
      - ./data/btc-testnet4:/root/.bitcoin

  btc-testnet4-mediator:
    build:
      context: .
      dockerfile: Dockerfile.satoshi
    image: ghcr.io/archetech/satoshi-mediator
    environment:
      - ARCHON_GATEKEEPER_URL=http://gatekeeper:4224
      - ARCHON_KEYMASTER_URL=http://keymaster:4226
      - ARCHON_MONGODB_URL=mongodb://mongodb:27017
      - ARCHON_REDIS_URL=redis://redis:6379
      - ARCHON_NODE_ID=${ARCHON_NODE_ID}
      - ARCHON_SAT_CHAIN=BTC:testnet4
      - ARCHON_SAT_NETWORK=testnet
      - ARCHON_SAT_HOST=btc-testnet4-node
      - ARCHON_SAT_PORT=48332
      - ARCHON_SAT_START_BLOCK=${ARCHON_BTC_T4_START_BLOCK}
      - ARCHON_SAT_USER=${ARCHON_BTC_T4_USER}
      - ARCHON_SAT_PASS=${ARCHON_BTC_T4_PASS}
      - ARCHON_SAT_WALLET=${ARCHON_BTC_T4_WALLET}
      - ARCHON_SAT_IMPORT_INTERVAL=${ARCHON_BTC_T4_IMPORT_INTERVAL}
      - ARCHON_SAT_EXPORT_INTERVAL=${ARCHON_BTC_T4_EXPORT_INTERVAL}
      - ARCHON_SAT_FEE_BLOCK_TARGET=${ARCHON_BTC_T4_FEE_BLOCK_TARGET}
      - ARCHON_SAT_FEE_FALLBACK_SAT_BYTE=${ARCHON_BTC_T4_FEE_FALLBACK_SAT_BYTE}
      - ARCHON_SAT_FEE_MAX=${ARCHON_BTC_T4_FEE_MAX}
      - ARCHON_SAT_RBF_ENABLED=${ARCHON_BTC_T4_RBF_ENABLED}
      - ARCHON_SAT_REIMPORT=${ARCHON_BTC_T4_REIMPORT}
      - ARCHON_SAT_DB=${ARCHON_BTC_T4_DB}
    volumes:
      - ./data:/app/satoshi/data
    user: "${ARCHON_UID}:${ARCHON_GID}"
    depends_on:
      - btc-testnet4-node
      - gatekeeper
      - keymaster
