server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: docker
    static_configs:
      - targets:
          - localhost
        labels:
          job: docker
          __path__: /var/lib/docker/containers/*/*-json.log
    pipeline_stages:
      - json:
          expressions:
            stream: stream
            log: log
            time: time
            attrs: attrs
      - json:
          source: attrs
          expressions:
            container_name:
      - labels:
          stream:
      - regex:
          source: log
          expression: '^(?P<timestamp>\S+)\s+(?P<level>\w+)?\s*(?P<message>.*)$'
      - labels:
          level:
      - output:
          source: log
