ARCHON_HERALD_DB=json
ARCHON_HERALD_PORT=3300
ARCHON_HERALD_GATEKEEPER_URL=http://host.docker.internal:4224
ARCHON_HERALD_KEYMASTER_URL=http://host.docker.internal:4226
ARCHON_HERALD_WALLET_URL=http://host.docker.internal:4224
ARCHON_HERALD_WALLET_PASSPHRASE=
