ARCHON_HERALD_DB=json
ARCHON_HERALD_PORT=4230
ARCHON_GATEKEEPER_URL=http://host.docker.internal:4224
ARCHON_KEYMASTER_URL=http://host.docker.internal:4226
ARCHON_HERALD_WALLET_URL=http://host.docker.internal:4228
ARCHON_HERALD_WALLET_PASSPHRASE=
